body {
  font-family: 'Lustria', serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, tr{
  font-family: 'Oswald', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}


.groupScore {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
}
.groupScore-list {
  display: block;
  font-size: 1em;
}
.groupScore-list p {
  margin: 3px;
  width: auto;
}

.groupScore-list p:nth-child(odd) {
  background-color: white;
}



.nav {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: grey;
  justify-content: space-between;
  align-items: center;
  position: fixed;

}
nav button {
  height: 100%;
  width: 24.7%;
  border: 0;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
button:focus {
  border-bottom: 2px solid red;
}
.instructions p, li {
  font-size: 1.2em;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-imgbox{
  width: 250px;
  height: 250px;
  border: 2px solid black;
  background-color: white;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile{
  width: 85%;
  height: 85%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #Bf6EE0;
}
.profile-imgbox img{
  width: 100%;
  height: 100%;
  border-radius: 2%;
  justify-content: space-between;
  flex-direction: column;
}
.start{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.instructions{
  width: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grplist{
  margin: 2% 0;
  width: 100%;
  background-color: white;
  border-radius: 2%;
  border: 1px solid black;
}
.btn {
  width: 100%;
  border: 0;
  background-color: green;
  height: 15%;
  align-self: flex-end;
}
