body{
  margin: 0;
  font-family: 'Lustria', serif;
}

h1, h2, h3, h4, h5, h6, tr{
  font-family: 'Oswald', sans-serif;
}

h1{
  font-size: 12em;
  color: lime;
  margin-top: 100px;
}

h2{
  font-size: 4.5em;
  margin: 0 0 20px 0;
}

h3{
  color: white;
  font-size: 2em;
}

h4{
  color: #212529;
  font-size: 1.5em;
  margin-top: 7px;
}

p{
  
  font-size: 1.1em;
}
a{
  color: lime;
}
a:hover{
  color: #00C851;
  text-decoration: none;
}
tr {
  font-size: 1.5em;
}
.hojd{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navs{
  display: flex;
  justify-content: center;
}
#logocenter{
  width: auto;
  margin: 1% 0;
}
#logocenter img {
  height: 50px;
  width: auto;
}
.formmid{
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 1%;
}

.home{
  height: 100vh;
  background:url('../img/crimeScene.jpeg');
  background-size: cover;
}

section{
  height: 100vh;
}

.light-bg{
  background-color: #36363a;
}

.dark-bg{
  background-color: #232327;
}

.vertical-center{
  align-items: center;
}

.h-100{
  height: 100%;
}

.no-border{
  border: none !important;
}

table tr:nth-child(odd){
  background-color: #1c5a1c;
}

.footer{
  height: 400px;

}
/* Font Awesome icons */
.fa{
  font-size: 50px;
  margin: -1% 2%;
}

.register-form{
  width: 50%;
  margin: auto;
}
.box{
  width: 100px;
  height: 100px;
  border: 2px solid lime;
  background-color: white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box{
  margin-top: 7%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.boximg{
  width: 100%;
}



@media only screen and (max-width: 993px) {
  .img-fluid{
    width: 80%;
  }
  h1{
    font-size: 5em;
    color: lime;
    margin-top: 50px;
  }
  section {
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

}
